.category {
  padding: 25px;
  background-color: #af2f2f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.category ul {
  display: flex;
  list-style: none;
  gap: 15px;
  padding: 5px;
}

.category h2 {
  padding: 10px;
}

.category ul li a {
  text-decoration: none;
  background-color: #711d1d;
  padding: 7px;
  border-radius: 3px;
  color: white;
  transition: 0.3s;
}

.category ul li a:hover {
  background-color: black;
  transition: 0.3s;
}
